body {
  background-color: #0c0c0c;
}

body {
  color: white;
  font-family: "Inter";
}

#title {
  margin-left: 4%;
  margin-top: 2%;
  font-size: 30px;
}

img {
  display: block;
  border-radius: 25px;
  background-color: rgb(0, 253, 13);
  padding: 7.5px;
}

#main_img_1 {
  float: right;
  margin-right: 7%;
  width: 35%;
}

#main_img_2 {
  float: left;
  margin-left: 12%;
  margin-top: 10%;
  width: 35%;
}