#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;  
}

body {
  color: rgb(255, 255, 255);
  font-family: "Inter";
}

#title {
  margin-left: 4%;
  margin-top: 2%;
  font-size: 30px;
}

img {
  display: block;
}


#main_img_1 {
  float: right;
  margin-right: 6%;
  width: 35%;
  background-color:#050505;
  border-radius: 25px;
  padding: 7.5px;
}

#main_img_2 {
  float: left;
  margin-left: 12%;
  margin-top: 10%;
  width: 35%;
  background-color:#0c1019;
  border-radius: 25px;
  padding: 7.5px;
}

#git_logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px;
}

#main_img_1:hover {
	background-color: #ffffff;
  width: 40%;
  cursor: pointer;
}
#main_img_2:hover {
	background-color: #ffffff;
  width: 40%;
  cursor: pointer;
}
#git_logo:hover {
	background-color: #000000;
}

#back {
  width: 90%;
  height: 90vh;
  margin: 2.5% auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 20px #000;
  border: 1px solid #000000;
  overflow: hidden;
  border: 0;
}

#bar {
  height: 40px;
  background-color: #333333;
  border-radius: 8px 8px 0 0;
  border: 0px solid #333333;
  display: flex;
  justify-content: start;
  align-items: end;
  padding-left: 10px;
}

.tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 150px;
	height: 27px;
	background-color: gray;
	border-radius: 8px 8px 0 0;
	padding: 3px 15px;
	margin-right: 5px;
	text-decoration: none;
	font-size: 14px;
}
.tab.selected {
	background-color: black;
}
.tab::after {
	display : block;
	content: "x";
}

a {
  color: white;
  font-weight: bold;
}
.os {
	flex-grow: 5;
	display: flex;
	justify-content: end;
	align-items: center;
	padding-bottom: 5px;
	padding-right: 5px;
}
.end {
	display: flex;
	text-decoration: none;
	padding: 10px 10px;
	text-align: right;
	border-radius: 5px;
	height: 10px;
	min-width: 10px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
	
#else:hover{
	background-color: gray;
}

#croix:hover {
	background-color: red;
}
